<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Ref</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <h1 class="hidden">Mail Reference for API Processing</h1>
        <h2>Thanks for visiting my website!</h2>
        <p>
            If you would like to contact me, please fill out this form to send me an email. Thank you!
        </p>

        <hr class="separator">

        <h2 class="mail-header">Mail</h2>

        <form action="../M_Sherine_Ajax/includes/mail.php" method="POST" id="mail-form">
            <label for="firstname">First Name</label>
            <div v-if="fnameError">
                <p>Please fill out your firstname!</p>
            </div>
            <input ref="fname" v.model="form.firstname" type="text" id="firstname" name="firstname" required="required">

            <label for="lastname">Last Name</label>
            <div v-if="lnameError">
                <p>Please fill out your lastname!</p>
            </div>
            <input ref="lname" v.model="form.lastname" type="text" id="lastname" name="lastname" required>

            <label for="firstname">Email</label>
            <div v-if="emailError">
                <p>You forgot to enter your email!</p>
            </div>
            <input ref="email" v.model="form.email" type="email" id="email" name="email" required>

            <label for="message">Your Message</label>
            <div v-if="messageError">
                <p>Please fill out your message!!</p>
            </div>
            <textarea ref="message" v.model="form.message" name="message" id="message" cols="30" rows="10" required></textarea>

            <label for="phone">Your Phone # <i>(optional)</i></label>
            <input ref="phone" type="tel" value="tel" name="phone">

            <div v-if="msgSuccess">
                <p>Successfully sent!</p>
            </div>
            
            <div class="wrapper">
                <input @click.prevent="processMail" type="submit" class="submit" value="Go!">
                <i class="fas fa-paper-plane"></i>
            </div>                              
        </form>
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js" type="module" defer></script>
</body>
</html>