.hidden { display: none; }

$main-bg-color: #FFFFFFff;
$main-color: white;

$main-font-face: 'arial', 'helvetica', sans-serif;
$main-font-size: 16px;

$heading-color: #695752ff;

// quick reset
* {
    border: none;
    padding: 0;
    margin: 0;
}